 {% extends "layout.html" %}

{% block body %}
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner"style="max-height: 400px">
  
    <div class="carousel-item active">
      <img src="static\img\7.jpg" alt="Los Angeles" width="1100" height="500" style="-webkit-filter: blur(4px);">
      
    </div>
    <div class="carousel-caption">
        <h1 style= "font-size: 100px ; padding-bottom: 109px;;">BUSINESS NEWS</h1>
      </div> 
    <div class="carousel-item">
      <img src="static\img\101.jpg" alt="Chicago" width="1100" height="500" style="-webkit-filter: blur(2px);">
         
    </div>
    <div class="carousel-caption">
        <h1 style= "font-size: 100px ; padding-bottom: 109px;;">BUSINESS NEWS</h1>
      </div> 
    <div class="carousel-item">
      <img src="static\img\102.jpg" alt="New York" width="1100" height="500" style="-webkit-filter: blur(2px);">
     
    </div>
    <div class="carousel-caption">
        <h1 style= "font-size: 100px ; padding-bottom: 109px;;">BUSINESS NEWS</h1>
      </div> 
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  <div class="row">

<div class="col-3 " >
  
<ul class="nav nav-pills" style=" position: sticky;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px
  background-color: initial;
   ;">
<div class="col">
  <li class="nav-item" style="    margin-top: 20px;
    padding-top: 20px;">
   <a class="nav-link" href="/topheadlines">TOPHEADLINES</a>
  </li>

  <li class="nav-item" style="    margin-top: 20px;
    ;">
    <a class="nav-link active" aria-current="page" href="/business">BUSINESS</a>
  </li>

  <li class="nav-item" style="  margin-bottom: 20px;  margin-top: 20px;
     ;">
     <a class="nav-link" href="/tech">TECH</a>
  </li>
</div>

  {% for post in posts%}
  <div class="card" style="width: 18rem;">
  <img src="/static/img/{{post.img_file}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{post.Title}}</h5>
    <p class="card-text"> {{post.Tag_line}}</p>
    <a href="post/{{post.Slug}}" class="btn btn-primary">Go to News</a>
  </div>
</div>       
        {% endfor %}
</ul>

</div>


<div class="col-8" style="max-width: 923px ;">

    {% for post in business%}
     <div class="post-preview">
      
          <a href="{{post['url']}}">
            <h2 class="post-title">
              {{post['title']}}
            </h2>
            <h4 class="post-subtitle">
              {{post['description']}}
            </h4>
            
          </a>
          <img src="{{post['urlToImage']}}" class="img-fluid" alt="Responsive image">
          <p class="post-meta">Posted by
            <a href="#"> {{post["source"]['name']}}</a>
            {{post['publishedAt']}}
             </p>
              
           
         </div>
        <hr>
       </a>
        
    </li>    
        {% endfor %}
 </div>
 <div class="col-2">
   
 </div>
 </div>
{% endblock %}