
{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static',filename='img/home-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
           
      <!-- <h1>Basic Action</h1> -->
      <a href="/dashboard"> <button class="btn btn-primary">Dashboard</button> </a>
      <a href="/logout"> <button class="btn btn-primary">Logout</button> </a>
      <h1>Upload</h1>
        
          file uploader
      <h1>Add/EDIT</h1>

        <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="Title" name='Title' required data-validation-required-message="Please enter your name." value="{{post.Title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tag Line</label>
              <input type="text" class="form-control" placeholder="Tag line" id="tline" name='tline' required data-validation-required-message="Please enter your email address." value="{{post.Tag_line}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" id="Slug" name='Slug' required data-validation-required-message="Please enter your phone number."value="{{post.Slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="Content" name='Content' required data-validation-required-message="Please enter a message." >{{post.Content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image File</label>
              <input rows="5" class="form-control" placeholder="Image File" id="img_file" name='img_file' value="{{post.img_file}}"></input>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
  