
{% extends "layout.html" %}
{% block body %}
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static\img\BHU.jpg" alt="Los Angeles" width="1100" height="500" style="-webkit-filter: blur(4px);">
      
    </div>
    <div class="carousel-item">
      <img src="static\img\11.jpg" alt="Chicago" width="1100" height="500" style="-webkit-filter: blur(2px);">
         
    </div>
    <div class="carousel-item">
      <img src="static\img\12.jpg" alt="New York" width="1100" height="500" style="-webkit-filter: blur(2px);">
     
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
  <!-- Page Header -->
  <!--<header class="masthead mb=0" style="background-image: url({{url_for('static',filename='img/home-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['tag_line']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header> -->
  <!-- Message flashing starts here !-->
<!--{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
</div>
{% endfor %}
{% endif %}
{% endwith %} -->
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      	<!--TODO: Fetch it using for loop from database -->
        {% for post in posts %}
        <div class="post-preview">
          <a href="/post/{{post.Slug}}">
            <h2 class="post-title">{{post.Title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.Tag_line}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on {{post.Date}}</p>
        </div>
        {{post.Content[0:100]}}...
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          
          <a class="btn btn-primary float-left" href="{{prev}}">&larr;  Previous </a>

          <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
  